.avval{
    background-image: url("/src/project-2/image umar/avval.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 704px;
}
.enddd{
    background-image: url("/src/project-2/image umar/Image.png");
    background-repeat: no-repeat;
    height: 444px;
    width: 90%;
}
.hast{
    background-image: url("/src/project-2/image umar/emaillll.jpg");
    height: 373px;
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
}